xmldemo/catalog-gen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog" type="catalogType">
    <xs:annotation>
      <xs:documentation> Catalog of books </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element name="title" type="xs:string">
      </xs:element>
      <xs:element type="xs:string" name="available" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="isbn10"/>
  </xs:complexType>
  <xs:complexType name="catalogType">
    <xs:sequence>
      <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>